*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: $color-black;
}

ul {
  list-style: none;
  padding-left: 0;
}
