*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0;
  cursor: default; }

a {
  text-decoration: none;
  color: #000; }

ul {
  list-style: none;
  padding-left: 0; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7); }

.btn--white {
  background-color: #fff;
  color: #777;
  font-weight: 500; }

.btn--grey {
  background-color: #2f3640;
  color: #fff;
  font-weight: 500; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #1e272e;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #1e272e;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #1e272e;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.locations {
  height: 30vh;
  background-color: rgba(196, 192, 192, 0.301);
  padding-top: 15rem; }

.maps {
  height: 30vh; }

.shops {
  height: 30vh;
  background-color: rgba(196, 192, 192, 0.301); }

.footer {
  background-color: #2f3640;
  padding: 5rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer; }
  .footer__logo {
    width: 4rem; }
  .footer__font {
    color: #fff;
    font-weight: 400;
    font-size: 3rem;
    bottom: 3rem; }
  .footer__navigation {
    border-top: 1px solid #777;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #2f3640;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #777;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #777;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    width: 80%;
    float: right; }

.navbar {
  position: fixed;
  width: 96.4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f3640;
  color: #fff;
  padding: 3rem;
  transition: all 0.2s ease-in-out;
  z-index: 30; }
  .navbar__logo-box {
    top: 4rem;
    left: 4rem;
    font-size: 25px; }
  .navbar__logo {
    height: 2.5rem;
    color: #fff; }
  .navbar__menu {
    display: flex;
    font-size: 18px; }
  .navbar__menu__item {
    padding: 0.8rem 1.2rem;
    margin: 0 8rem;
    cursor: pointer;
    color: #fff; }
    .navbar__menu__item:hover {
      background-color: #777;
      border-radius: 4px; }
  .navbar__toggle-btn {
    position: absolute;
    right: 4rem;
    font-size: 2.6rem;
    color: #fff;
    display: none; }

.navbar--dark {
  background-color: #2f3640;
  padding: 1.5rem;
  margin-top: -3rem; }

#navbar__login {
  border: 2.5px solid #fff;
  border-radius: 20px; }
