.section-about {
  background-color: $color-lgrey-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(47, 54, 64, 0.801),
      rgba(30, 39, 46, 0.801)
    ),
    url(../img/dog4.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-lgrey-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  padding: 15rem 0;
  background-color: $color-lgrey-1;
}
