.navbar {
  position: fixed;
  width: 96.4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-dgrey-1;
  color: $color-white;
  padding: 3rem;
  transition: all 0.2s ease-in-out;
  z-index: 30;

  &__logo-box {
    top: 4rem;
    left: 4rem;
    font-size: 25px;
  }

  &__logo {
    height: 2.5rem;
    color: $color-white;
  }

  &__menu {
    display: flex;
    font-size: 18px;
  }

  &__menu__item {
    padding: 0.8rem 1.2rem;
    margin: 0 8rem;
    cursor: pointer;
    color: $color-white;

    &:hover {
      background-color: $color-dgrey;
      border-radius: 4px;
    }
  }

  &__toggle-btn {
    position: absolute;
    right: 4rem;
    font-size: 2.6rem;
    color: $color-white;
    display: none;
  }
}

.navbar--dark {
  background-color: $color-dgrey-1;
  padding: 1.5rem;
  margin-top: -3rem;
}

#navbar__login {
  border: 2.5px solid $color-white;
  border-radius: 20px;
}
