.locations {
  height: 30vh;
  background-color: rgba(196, 192, 192, 0.301);
  padding-top: 15rem;
}

.maps {
  height: 30vh;
}

.shops {
  height: 30vh;
  background-color: rgba(196, 192, 192, 0.301);
}
