// Colors
$color-dgrey: #777;
$color-lgrey-1: #f7f7f7;
$color-white: #fff;

$color-dgrey-1: #2f3640;
$color-dgrey-2: #1e272e;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
